# Terraform
**/.terraform/*
.terraform
*.tfstate
*.tfstate.*
crash.log
crash.*.log
node_modules/
**/secrets.auto.tfvars
*.tfplan
override.tf
override.tf.json
*_override.tf

*.auto.tfvars
secrets.tfvars
environments/dev/dev.tfvars
